/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsla(217, 19%, 35%, 100%);
  --dark-grayish-blue: hsla(217, 19%, 35%, 24.74%);
  --dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  min-height: 100svh;
  font-family: "Barlow Semi Condensed", serif;
  background-color: var(--light-grayish-blue);
  padding: 71px 24px;
}

.cards {
  display: grid;
  gap: 24px;
}

.card {
  display: grid;
  gap: 18px;
  padding: 26px 32px 32px 32px;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px var(--dark-grayish-blue);
  color: var(--white);
}

.card:nth-child(1) {
  position: relative;
  background-color: var(--moderate-violet);
}

.card:nth-child(2) {
  background-color: var(--very-dark-grayish-blue);
}

.card:nth-child(3),
.card:nth-child(5) {
  background-color: var(--white);
  color: var(--very-dark-grayish-blue);
}

.card:nth-child(4) {
  background-color: var(--dark-blackish-blue);
}

.bg-quotation {
  position: absolute;
  top: 0px;
  right: 24px;
  color: hsla(264, 82%, 70%, 100%);
}

.reviewer {
  display: flex;
  gap: 17px;
  align-items: center;
}

.profile-picture {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.card:nth-child(1) .profile-picture {
  outline: solid 2px hsla(264, 82%, 70%, 100%);
}

.card:nth-child(4) .profile-picture {
  outline: solid 2px var(--moderate-violet);
}

.reviewer-detail {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviewer-name {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1;
}

.reviewer-title {
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 1;
  opacity: 50%;
}

.review-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.review-title {
  font-size: 1.25;
  font-weight: 600;
  letter-spacing: 0.03125rem;
  line-height: 1.285;
  z-index: 1;
}

.review-text {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.3846;
  opacity: 70%;
}

.card:nth-child(1) .review-text {
  margin: 24px 16px 0 0;
}

/* .attribution {
  font-size: 11px;
  text-align: center;
  margin: 16px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

@media (min-width: 62rem) {
  body {
    padding: 82px;
  }

  .cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 24px 30px;
  }

  .card:nth-child(3),
  .card:nth-child(4),
  .card:nth-child(5) {
    padding: 20px 32px 26px 32px;
    gap: 10px;
  }

  .card:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .card:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  .card:nth-child(5) {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }

  .bg-quotation {
    right: 80px;
  }

  .card:nth-child(3) .review-content,
  .card:nth-child(4) .review-content,
  .card:nth-child(5) .review-content {
    gap: 24px;
  }

  .card:nth-child(1) .review-text {
    margin: 0;
  }
}

@media (min-width: 75rem) {
  body {
    padding: 164px 165px;
  }
}
